In [ ]:
import pandas as pd

In [ ]:
# clustering_info = pd.concat([
#                              pd.DataFrame([answers_per_cluster_after_sorting], columns = [str(i) for i in range(CLUSTER_NO)]),
#                              pd.DataFrame(cluster_top_features,columns = [str(i) for i in range(CLUSTER_NO)]),
#                              pd.DataFrame(feature_counts_percent,columns = [str(i) for i in range(CLUSTER_NO)]),
#                              pd.DataFrame(cluster_graded_features,columns = [str(i) for i in range(CLUSTER_NO)]),
#                             ],keys = ['answer counts',
#                                       'top_5_features',
#                                       'answer_counts_per_feature_(%)',
#                                       'feature_contribution_(%)'])

# with pd.ExcelWriter("Clustered_data.xlsx") as writer:
#     clustered_data.to_excel(writer, sheet_name="Question_1", index=False)
#     cluster_summary.to_excel(writer, sheet_name="model", index=False)
#     clustering_info.to_excel(writer, sheet_name="clustering_report", index = True)

In [2]:
import pandas as pd
def write_df_to_xlsx_file(df, xls_filename :str = None, sheet_name:str = 'Sheet1'):
    with pd.ExcelWriter(f"{xls_filename}.xlsx") as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)
        
df = pd.DataFrame({'col1':[1,2,3,4,5]})
write_df_to_xlsx_file(df=df, xls_filename='testing_file_delete')

In [7]:
def export_dfs_to_excel_sheets(df_list,sheet_name_list, xls_filename):
    with pd.ExcelWriter(f"{xls_filename}.xlsx") as writer:
        for i in range (len(df_list)): 
            df_list[i].to_excel(writer, sheet_name=sheet_name_list[i], index=False)
            

df1 = pd.DataFrame({'col1':[1,2,3,4,5]})
df2 = pd.DataFrame({'col1':[6,7,8,9,10]})
sheet_names = ['sheet1test', 'sheet2test']
export_dfs_to_excel_sheets(df_list=[df1.T,df2.T],sheet_name_list = sheet_names, xls_filename='file_from_test1')

In [8]:
df1 = pd.DataFrame({'col1':[[1,2],[2,3],[3,4],[4,5],[5,6]],'col2':[6,7,8,9,10]})
df1

     col1  col2
0  [1, 2]     6
1  [2, 3]     7
2  [3, 4]     8
3  [4, 5]     9
4  [5, 6]    10

In [9]:
df1.T

           0       1       2       3       4
col1  [1, 2]  [2, 3]  [3, 4]  [4, 5]  [5, 6]
col2       6       7       8       9      10